/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .about-banner {
    background-color: #3e3e3e;

    &__inner {
        padding: 100px 0;

        &_heading {
            h1 {
                color: white!important;
                font-size: 38px!important;
                line-height: 45px;
                font-family: "Montserrat";
                font-weight: 700!important;
                display: flex;
                justify-content: center;
                padding-bottom: 15px;
            }
        }

        &_text {
            p {
                color: white;
                font-size: 18px;
                line-height: 25px;
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }
    }
}

//banner section end
