/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

// variable
@import "../../assets/css/variable/variable.scss";


//service section start
.service {
    background-color: #f5f5f5;
    &__inner {
        padding: 100px 0 60px 0;

        @include max-1199 {
            padding: 85px 0 50px 0;
        }

        @include max-991 {
            padding: 70px 0 45px 0;
        }

        @include max-767 {
            padding: 70px 0 40px 0;
        }

        @include max-575 {
            padding: 65px 0 35px 0;
        }

        @include max-425 {
            padding: 50px 20px 30px 20px;
        }

        &_box {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            &--details {
                width: 25%;

                @include max-767 {
                    width: 33.33%;
                }

                @include max-575 {
                    width: 50%;
                }

                @include max-425 {
                    width: 100%;
                }

                &-image {
                    display: flex;
                    justify-content: center;
                    padding-bottom: 25px;
                    align-items: center;

                    img {
                        max-width: 40px;
                        max-height: 41px;
                    }
                }

                &-title {
                    display: flex;
                    justify-content: center;

                    h6 {
                        font-size: 12px;
                        color: #191919;
                        font-family: "Montserrat";
                        font-weight: 700;
                        text-transform: uppercase;
                        display: flex;
                        align-items: center;

                        @include max-767 {
                            font-size: 11px;
                        }

                        @include max-425 {
                            font-size: 10px;
                        }
                    }
                }

                &-details {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    padding-bottom: 50px;

                    @include max-1199 {
                        padding-bottom: 40px;
                    }

                    @include max-991 {
                        padding-bottom: 35px;
                    }

                    @include max-767 {
                        padding-bottom: 30px;
                    }

                    @include max-575 {
                        padding-bottom: 25px;
                    }

                    @include max-425 {
                        padding-bottom: 20px;
                    }

                    p {
                        font-size: 16px;
                        line-height: 24px;
                        display: flex;
                        align-items: center;

                        @include max-1199 {
                            font-size: 14px;
                            line-height: 28px;
                        }

                        @include max-991 {
                            font-size: 12px;
                            line-height: 25px;
                        }

                        @include max-767 {
                            font-size: 11px;
                            line-height: 25px;
                        }

                        font-family:"NunitoSans-Regular";
                    }
                }
            }
        }
    }
}