/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */


.service__inner_box--details-image{
    button{
        border: 0;
        background-color: white;
        color: red;
    }
}